<p  style="font-size: 1.2em; text-align: center; background-color:#2a3979"> Написать программу, определяющую, сколько из чисел в диапазоне
от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при
возведении в квадрат, образуют палиндромы. Например: 22 → 484 . 
Вывести на печать числа, квадраты и их количество. </p>

<div style="font-size: 1.2em; text-align: center; background-color: #7272ff">

<%= form_tag "/palin/outputdb", method: 'get', id: 'poli_form' do %>

   <%= label_tag ' Введите число чисел n, от которого в диапазоне [0;n] будет вестись поиск' %>

   <br>
   <br>

   <%= text_field_tag(:arr, "444") %>
<!-- :cols => "2", :rows => "2", :style => "font-size: 1.2em" %> -->

   <br>
   <br>
   <%= submit_tag 'Палиндромы с квадратами палиндромами' %>

<% end %>
<br>
<p> <b> XML-version-table </b></p>
<br>
<%= form_tag("/palin/results", :method => 'get') do %>
    <%= submit_tag((:' Получить xml-render '))%>
    <% end %>
<br> <br>


</div>