<html>
<body style="font-size: 1.2em; text-align: center; background-color:#9ae5c9">
<h2 style="color: #09886c"> Palindromes-Table</h2>
<table border="1" style='background-color:#17cb89'>
<tr bgcolor="#7fe3aa">
<th style = "font-weight: bold; color: #071b44;">Palindrome</th>
<th style = "font-weight: bold; color: #071b44;">Square</th>
</tr>
<tbody>
<% if (@result.class == Array) 
	@result.each do |x|%>	

 <tr> <td >  <%= x %>   </td> <td>  <%= x**2 %>  </td> </tr>   

<%end end%>
</tbody>

<tr><td colspan="2"  style = "font-weight: bold; color: white;">  
<% if (@result.class == Array) %>
<%= "Всего: " + @result.size.to_s %>
<% else%>
<%= @result.to_s %>
<%end%>

 </td></tr>

</table>
<br>
<div>  </div>
<br>

<%= link_to "Repeat process", :palin_inputdb %>
</body>
</html>